# requirements-rag.txt
# Copyright (C) 2026 Stefano Natangelo
# SPDX-License-Identifier: AGPL-3.0-only
# Optional deterministic in-document BM25 ranking for Verify extractive RAG.
# Install only when selecting a RAG context mode/profile.
bm25s==0.3.10
